:root{
    --primary-color:#FF4500;
    --background:#f4f4f4;
    --nav:#050505;
    --main:#ffff; 
    --txt-dark:#00000;
    --txt-clear:#cfcfcf;
}
/*------------GENERAL-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    color: var(--txt-dark);
    cursor: default;
}
body{
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    min-width: 360px;
}
main{
    width: 80%;
    max-width:1400px ;
    margin: auto;
    background-color: var(--main);
}

.sec{
    width: 100%;

    height: fit-content;
    padding:100px auto 10px auto ;
    text-align:center ;
    padding-top: 20px;
}
.sec::after{
    content:' ' ;
    width: 40%;
    height: 2px;
    display: block;
    margin: 40px auto 0 auto;
    background-color: var(--txt-clear);
    opacity: 20%;
}
.sec:nth-child(2)::after,.sec:nth-child(5)::after{
    width: 0;
}
.sec:nth-child(5){
    min-height: fit-content;
}
.contain-tittle-section{
    width: fit-content;
    margin: auto;
    position: relative;
}
.tittle-high{
    font-size: 5rem;
    letter-spacing: 10px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.tittle-small{
    color:var(--primary-color);
    font-size: 2rem;
    position: absolute;
    font-weight: 500;
    background-color: rgba(238, 255, 0, 0.76);
    top: 48%;
    left:50% ;
    transform: translateX(-50%);

}

/*--------BOTONES-------------*/
.btn{
    width: 180px;
    height: 30px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    letter-spacing: .5px;
    cursor: pointer;
    opacity: 94%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.btn:hover{
    transition: .3s;
    opacity: 100%;
}
.btn-fullcolor{
    background-color: var(--primary-color);
    color: white;
    border: none;
    margin-bottom: 10px;
}

.btn-border{
    padding-left:30px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
/*--------barra de Navegador-------------*/
nav{
    width: 100%;
    height: 60px;
    min-width: 370px;
    padding-right: 50px; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position:fixed;
    z-index:1000 ;
    background-color: var(--nav);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.23);
    transition: height 1s ease;
}

nav > ul > li {
    padding: 5px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}

nav > ul > li >a{
    text-decoration: none;
    color:var(--txt-clear);
    font-size: 1.2rem;
    position: relative ;
    transition: color 0.3s;
}
nav > ul > li>a:hover{
    color: white;
}
nav > ul > li >a::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: width 0.3s;
}
nav ul li a:hover::after {
    width: 100%; 
}

/* _______************    HEADER   *************_________ */
header{
    width: 100%;
    height: 60vh;
    min-height: 480px;
    padding: 6% 10% 4% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items:center;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 95%);
    background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 95%);
    background: linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(17,17,17,1) 47%, rgba(0,0,0,1) 95%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    color: var(--txt-clear);
    position: relative;

}
/*---HEADER: parte izquierda---*/
.header-info{
    width: 60%;
    min-width: 270px;
    max-width: 400px;
    height: auto;
    min-height: auto;
}

.info{
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.txt-info-helloworld{
    font-size: 2rem;
    margin-bottom:10px ;
}

.info > .txt-info-name{
    font-size:2.5rem ;
    font-weight: bold;
    margin-bottom: 10px;
}
.info > .txt-info-function{
    font-size: 1.5rem;
    align-self: end;
    margin-bottom: 20px;
}

.material-symbols-outlined {
    margin-left: 5px;
}

.tb-info-contact{
    align-self: baseline;
    height: 20%;
    margin-top: 40px;
}
.tb-info-contact> table{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
}
.td-contact{
    height: 20px;
    padding-left: 10px;
}
.td-border{
    border-right: 1px solid rgba(128, 128, 128, 0.168);
    padding-right: 4px;
}
.td-padding{
    padding-left: 4%;
}
/*-----------HEADER: parte derecha ------*/
.header-card{
    width: 70%;
    height: 100%;
    padding-bottom: 10%;
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 10px;
    justify-self: left;
}
.ph-profile{
    width: 12vw;
    min-width: 160px;
    height: 12vw;
    min-height: 160px;
    display:inline-block;
    justify-self: right;
    align-self: center;
    background-image:url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719892255/ph-profile_rlwbzk.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    filter: brightness(80%);
}
.links-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link{
    width: 40px;
    height: 40px;
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 49);
    border-radius: 100%;
    cursor: pointer;
    -webkit-box-shadow: 4px 7px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 7px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 7px 11px 0px rgba(0,0,0,0.75);
}
.link:hover{
    transition: .5s;
    background-color:#272727 ;
}
.link-github, .link-linkedin{
    width: 80%;
    height: 80%;
    display: inline-block;
}
.link-linkedin{
    display: inline-block;
    background-image: url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719939803/icons-p/znqplmacmjfkjnqhpaxz.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.link-github{
    background-image: url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719939803/icons-p/nobij8tdiivlwqlgk2tg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-about-me{
    width: 14vw;
    min-width: 140px;
    max-width: 300px;
    height: 30px;
    position: absolute;
    bottom: -30px;
    font-size: 1rem;
    color: rgb(78, 78, 78);
    background-color:var(--nav);
    border: none;
    border-radius: 4px;
    opacity: 100%;
    justify-self: center;
    grid-column: 1 / 3;
    right: 50%;
    transform: translate(50%);

}
.btn-about-me:hover{
    transform: 1s;
    color: rgb(106, 106, 106);

}

/* _______************    SECCION ABOUT ME     *************_________ */
.sec-about-me{
    height: 0;
    min-height: fit-content;
    display: none;
    margin-top:20px ;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    transition: height 0.5s linear, padding 0.5s linear;
    overflow: hidden;
}
.ph-about-me{
    visibility: hidden;
    width: 50%;
    height:auto;
    margin: 80px auto;
    transition: opacity 0.3s ease ;
    opacity: 0;
}

.sec-about-me > p{
    visibility: hidden;
    width: 60%;
    height: auto;
    font-size: 1.6rem;
    transition: visibility 0s 0.5s,opacity 0.5s ease 0.5s;
    opacity: 0;
}
.sec-about-me.open .ph-about-me{
    height: auto;
    opacity: 1;
}
.sec-about-me.open>p{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}


/* _______************    SECCION SKILLS     *************_________ */
.skills-icons-contain{
    width: 80%;
    min-height: auto;
    height: fit-content;
    margin: 5% auto 5% auto;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;    
}
.skills{
    width: 100%;
    height: 100%;
    font-size: 1.8rem;
    padding: 20px 40px;
}
.icon-tittle{
    height: 60px;
}
.skills-front , .skills-database{
    border-right: 1px solid var(--primary-color);
}
.skills-front, .skills-backend{
    border-bottom: 1px solid var(--primary-color);
}
.skill-icon{
    width: 50px
}
.icon-list-skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 8%;
    justify-content: center;
}
.icon-list-skills> li{
    list-style: none;
}
.btn-skills{
    height: 40px;
    margin: 100px auto;
}



.popup{
    width: 85vw;
    min-width: 340px;
    height: 90vh;
    padding: 100px 60px;
    position: fixed;
    display: none;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid var(--primary-color);
    border-radius: 8px;
    background-color: var(--main);
    z-index: 10000;
    overflow: auto;
    -webkit-box-shadow: -4px 30px 57px -1px rgba(26,26,26,1);
    -moz-box-shadow: -4px 30px 57px -1px rgba(26,26,26,1);
    box-shadow: -4px 30px 57px -1px rgba(26,26,26,1);
}

.popup-back{
    width: 100vw;
    min-width: 370px;
    display:none;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 30%;
    z-index: 9999;
    

}
.popup>p{
    grid-column: 1/3;
    font-size: 5rem;
    height: 150px;
    font-weight: bold;
    letter-spacing: 4px;
    opacity: 90%;

}
.certificado{
    width: 80%;
    min-width: 260px;
    height: 100%;
    pointer-events: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(125,125,125,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(125,125,125,1);
    box-shadow: 0px 3px 5px 0px rgba(125,125,125,1);

}
.platzi{
    padding: 10px;
}
.close-btn {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.584);
    
}




/* _______************    SECCION PROYECTOS   *************_________ */
.carousel{
    width: 90%;
    margin: 50px auto;
    position: relative;
    
}
.carousel-inner{
    overflow: hidden;
}
.contain-proyects{
    width: 85%;
    margin: auto;
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
    overflow-x: scroll;
}
.contain-proyects::-webkit-scrollbar {
    display: none; 
}
.card-proyect{
    border: 1px solid var(--txt-clear);
    width: 30%;
    max-width: 260px;
    min-width: 170px;
    flex-shrink: 0;
    padding: 4px 4px 14px 4px ;
    border-radius: 4px;
    box-shadow: 0px 4px 5px 0px rgba(217,217,217,1);
}
.card-proyect> p:nth-child(1){
    width: 100%;
    height: 54px;
    padding: 10px 5px ;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--primary-color);
    opacity: 50%;
}
.card-proyect> p:nth-child(3){
    margin-top: 10px;
    padding-left: 14px;
    
}
.card-proyect> p:nth-child(5){
    text-align: justify;
    padding: 8px;
    font-style: italic;
}
.proyects-tecnologies-contain{
    min-height: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10px;
    max-height: fit-content;
    padding: 10px 8px;
}
.tecnology{
    color: var(--txt-dark);
    font-weight:500;
    font-style: italic;
    
}
.tecnology:hover{
    color: var(--primary-color);
    transition: .3s;
}
.img-project{
    width: 90%;
    max-width: 220px;
    height:120px ;
    border-radius: 4px;
    filter: blur(0.5px);
}
.img-project:hover{
    filter: blur(0px);
    transition: all 1s;
    cursor: pointer;
}
button.prev , button.next{
    position: absolute;
    padding: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
    color: var(--main);
    z-index: 1;
}
button.prev {
    left: 0;
}

button.next {
    right: 0;
}
/* _______************    SECCION  CONTACTO *************_________ */
.sec:nth-child(4){
    min-height: 60vh;
    max-height: auto;
}
.sub-contact{
    width:80% ;
    max-width: 840px;
    margin:60px auto ;
    font-size: 1.8rem; 
}
.content-mail{
    width: 320px;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    border: 1px solid var(--nav);
    border-radius: 8px;
    text-align: justify;
    font-size: 1.4rem;
    background-color: white;
    
}
#mail{
    width:90%;
    height: 40px;
    padding: 2px 10px;
    border: none;
    border-radius: 8px 0 0 8px;
}

#mail:focus{
    outline: none;
}

.lb-email{
    font-size: 1.2rem;
    
}

.icon-cp{
    border-radius: 8px;
    border: none;
    background-color: white;
    width:10%;
    cursor: pointer;
}
.contain-contact-links{
    width: 90%;
    max-width: 600px;
    height: 150px;
    padding: 4px;
    margin: 8vh auto 20vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    place-items: center;
    cursor: pointer;

}
.card-contact{
    width: 140px;
    max-width:160px;
    height: 140px;
    padding: 10px;
    display: flex;
    border: 1px solid var(--nav);
    border-radius: 40px 0px 30px 30px;
    -webkit-box-shadow: -9px 11px 19px -10px rgba(41,41,41,1);
    -moz-box-shadow: -9px 11px 19px -10px rgba(41,41,41,1);
    box-shadow: -9px 11px 19px -10px rgba(41,41,41,1);
    
}
.github{
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    background-image:url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719939802/icons-p/qsjqcjnd9ujivfntv0ap.png);
    background-position: center;
    background-size: cover;
}
.whatsapp{
    width: 120px;
    height: 120px;
    margin: auto;
    display: block;
    background-image:url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719939802/icons-p/owiayepgioppiq7h5xyd.png);
    background-position: center;
    background-size: cover;
    
}
.linkedin{
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
    background-image:url(https://res.cloudinary.com/dnvpep1sn/image/upload/v1719939802/icons-p/tvl02y02rtpfxnqqab42.png);
    background-position: center;
    background-size: cover;
}

footer{
    width: 80%;
    max-width:1400px ;
    height: 30vh;
    margin: auto;
    padding: 80px 0 40px 0 ;
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid var(--txt-clear);
    background-color: var(--main);
}
.ph-footer{
    width: 14px;
    height: 14px;
    min-width: 60px;
    min-height: 60px;
    margin-bottom: 20px;
}

@media only screen and  (max-width:720px){

    nav{
        justify-content: center;
        padding-right: 0;
    }
    main,footer{
        width: 98%;
        margin: 0;
    }
    .ph-footer{
        visibility: visible  !important;
    }
    .tittle-high{
        font-size: 2.6rem;
    }
    header{
        height: 8%;
        padding:80px 40px 0 40px;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
    }
    .header-card{
        height: 60px;
        grid-row: 1/1;
        place-self: center;
        padding-bottom: 0;
        grid-template-columns: 100%;
        grid-template-rows: 0px auto;
        
    }
    .links-info{
        flex-direction: row;
        height: 50px;
        width: 100px;
        margin: auto;
        place-self: center;
    }
    .ph-profile{
        visibility: hidden;
    }
    .link{
        width: 30px;
        height: 30px;
    }
    .ph-about-me{
        width:160px;
        height: auto;
        margin: 10px;
    }
    .sec-about-me{
        display: none;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .sec-about-me>p{
        width: 100%;
    }

    .skills-icons-contain{
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .skills{
        padding: 5px;
    }
    .skill-icon{
        width: 40px;
    }
    .skills-front, .skills-backend, .skills-database{
        border: none;
        border-bottom: 1px solid var(--primary-color);
    }
    .carousel{
        width: 100%;
    }
    .contain-proyects{
        width: 95%;
        gap: 10px;
    }
    button.next, button.prev{
        width: 30px;
        height: 40px;
        padding: 0;
    }
    .popup{
        padding: 40px 20px;
        grid-template-columns: 1fr;
        gap: 0;
        row-gap: 30px;
    }
    .popup>p{
        font-size: 3rem;
        height: 60px;
    }
    .certificado{
        width: 100%;
        grid-column: 1/2;
    }


    .sec{
        padding: 40px 20px;
    }
    .content-mail{
        width: 220px;
    }
    #mail{
        width: 190px;
        padding: 2px;
    }
    .copy-mail{
        margin: 0;
    }

    .contain-contact-links{
        width: 80%;
        min-width: 310px;
        height: 120px;
        height: fit-content;

    }
    .card-contact{
        
        width: 80px;
        height: 70px;
    }
    .github, .whatsapp{
        width: 50px;
        height: 50px;
    }
    .linkedin{
        width: 40px;
        height: 40px;
    }
    .sub-contact{
        font-size: 1.4rem; 
    }
}